.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:90%;

}

.signUpForm input{
  width: 80%;
  line-height: 1.5em;
  align-self: center;
}

.signUpForm button{
  width:80%;
  margin-top: 10px;
}