.bigSearchBar {
    flex-direction: row;
    width: 70%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius:50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    


  }

 
  .AnywhereBig, .anyWeekBig,.numGuestsBig{
    position: relative;
    flex-direction: row;
    text-align: center;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    padding: 5px;
    width: 33%;
    height:100%;
    min-height: 50px; 
    font-weight: 700;
    background-color:white;
  }

  .AnywhereBig:hover, .anyWeekBig:hover, .numGuestsBig:hover{
    background-color:#ccc;

  }
  
  .AnywhereBig:hover, .anyWeekBig:hover {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .AnywhereBig, .anyWeekBig {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
  }
  .anyWeekBig::after, .AnywhereBig::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color:lightgrey;}

  .numGuestsBig {
    border-radius:30px;
  }
  
  .WhoBig {
    border-right: none;
    color: #ccc;
  }

  .DateBig {
    width:50%;
    height:30px;


  }
  
  .SearchIconBig {
    color: #ff5a5f;
    margin-right: 5px;
    cursor: pointer;
    background-color: #ff385c;
    border-radius: 50%;
    padding: 8px;
    margin-left: 5px;
  }
  
  .SearchBarModalBig {
    display: flex;
    position: fixed;
    top: 80px;
    width: 95vw;
    padding-bottom: 15px;;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-content:space-around;
  }
  
  .hide, .anyWeekBig:hover::after, .AnywhereBig:hover::after {
    display: none;
  }
  

  