.dateMenu {
  display: block;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;

}
.dateMenu:hover{
  background-color:lightgray;
}

.dateMenu::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 50%;
  width: 1px;
  background-color:lightgrey;}

 .selected {
  background-color:gray;
 }

 .dateMenuDropdown {
  position: absolute;
  z-index: 999;
  top: 50px;;
  width:250px;
  height:300px;
  background-color:white;

 }

 .dateMenuButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
  
 
 }



 /* react-calendar CSS to be placed below*/

 