.dateMenu {
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;

}
.dateMenu:hover{
  background-color:lightgray;
}

.dateMenu::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 50%;
  width: 1px;
  background-color:lightgrey;}