.bar {
  display: flex;
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  height: 50px;
  border-radius: 30px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center the search bar horizontally */
  background-color: #ffffff;
}

.dateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  color: black;
  background-color: transparent;
  border: none;
}

.dateButton:first-of-type {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: none;
}

.dateButton:last-of-type {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: none;
  border-right: 1px solid rgb(221, 221, 221);
  width: 180px;
  color: rgb(113, 113, 113);
}

.dateInput {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  background-color: transparent;
}

.wrapper {
  display: flex;
  height: 30px;
  border-right: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
  width: 33%;
  justify-content: center;
}

.addGuestsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  color: black;
  background-color: transparent;
  border: none;
  position: relative;
}

.addGuestsButton:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #888888 transparent transparent transparent;
}

.guestsButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ff385c;
  border-radius: 100%;
  margin-left: 15px;
}

.guestsButtonWrapper:hover {
  cursor: pointer;
}

.guestsIcon {
  color: white;
}

.hidden {
  display: none;
}
