

#root > div:nth-child(1) > div.navbar > button {

  flex-direction:row;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  width:30%;
  max-height:50px;
  border:none;

}


.searchBar {
  flex-direction:row;
  width:100%;
  display: flex;
  background-color: white;
  border-radius: 30px;
  padding: 8px 12px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-height:50px;
  border:none;
}


.anywhere, .anyWeek, .Who {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  padding: 5px;
  border-right: 1px solid #ccc;
  width:33%;
  font-weight:700;
  

}

.Who {
  border-right: none;
  color:#ccc;
}

.SearchIcon {
  color: #ff5a5f;
  margin-right: 5px;
  cursor: pointer;
  background-color:#ff385c;
  border-radius:50%;
  padding:8px;
  margin-left:5px;
}





.SearchBarModal {
  display: flex;
  position: fixed;
  top:90px;
  width: 100%;
  height:180px;
  background-color:white;

}

.hide {
  display: none;
}