.modal{display: flex;
flex-direction:column;
overflow-y: scroll;
overflow-x:hidden;
max-height:80vh;
width:30vw;
align-items: center;
padding:25px;
border-radius: 15px;
}
.modal::-webkit-scrollbar {
    display:none;
  }
.Form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:100%
    

}
 label{
    display:flex;
    position:relative;
    height:3em;
    width:100%;
    border:2px solid rgb(221,221,221);
    border-radius:15px;
    margin-top:3px;

}

.InputTitle{
    position:absolute;
    background-color:white;
    height:100%;
    width:100%;
    font-size:20px;
    z-index:2;
    border-radius:15px;
    display:flex;
    align-items: center;
}
.formInput{
    position:absolute;
    width:90%;
    height:3em;
    border:none;
    outline: none;
    border-radius:15px
    
}
.FormButton{
   
    display:flex;
    align-items:center;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    margin-top: 15px;
    height:3em;
    display:flex;
    font-size: 22px;
    justify-content: center;
    padding:0;
    color:white;
    cursor:pointer;
    border:0.5px solid rgb(221,221,221);
   background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%)
}


.-active {
display:none
}

.modal h1{
    width:30vw;
    text-align:center
}

.formInput:focus{
    position:absolute;
    width:100%;
    height:3em;
    background-color:transparent
    
}
textarea{
    outline:none;
}

*:disabled{
    background-image:none;
    background-color:grey
}

.hidden {
    display:none
}

.pForm {
    margin:0;
    padding:0;
    font-size: medium;
    text-align: center;
}