.bookingTile {
    display:flex;
    flex-direction:column;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 15px;
    width: 24%;
   margin-top:1vw;
   margin-bottom:1vw;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    overflow: auto;
}