.scrollables{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.ScrollDiv {
    display:flex;
    border-bottom:1px solid lightgrey;
    border-top:1px solid light lightgrey;
    height:250px;
    width:100%;
    flex-direction: column;
    justify-content: space-between;
}

.subScroll{
    display:block;
    height:500px;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    width:100%;
    
}

.cover {
    font-size: 36px;
}

.placeHolderRed {
    color:red;
}
.coverContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;
}

.learn{
    cursor:pointer;
    text-decoration: underline;

}

.deleteSpot{
    cursor:pointer;

}
.containerDiv{
    display:flex;
    flex-direction: row;
}
.IconDiv{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    
}

.TextDiv > h4{
margin:0px;
font-size:20px
}

.TextDiv > p {
    font-size:10px;
    margin:0
}

.saveShare {
    cursor:pointer;
    color:blue;
    margin-right:5px;
}