.scrollables{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.ScrollDiv {
    border-bottom:1px solid lightgrey;
    border-top:1px solid light lightgrey;
    height:250px;
    width:100%;
}

.subScroll{
    display:block;
    height:500px;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    width:100%;
    
}

.cover {
    font-size: 36px;
}

.placeHolderRed {
    color:red;
}
.coverContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100%;
}

.learn{
    cursor:pointer;
    text-decoration: underline;

}