.hidden{
   display: none;
 }

  .navbar menu {
    z-index:99999;
    width:5vw;
  }


  
  .profile-dropdown {
    color: black;
    z-index: 99999;
    
  }

  .profile-dropdown menu {
    position :absolute;
    background-color:white;
    border-radius:4px;
    right:25px;
    top:30px;
    box-shadow: 10px 5px 5px grey;
    z-index:99999;
    width:10vw;
    width:15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:space-between;
  }

  .barsUsersButton{
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    border: 0.5px solid darkgray;
  }

  .barsUsersButton:hover{
    box-shadow: -5px 5px 5px -1px #F48670

  }

  #homeLogo {
    color:red;
    font-size: 32px;
    position: relative;
    box-sizing: content-box;
    text-decoration: none;
    white-space: nowrap;
  }


  #rentHome {
    text-decoration: none;
    color:black;
    white-space: nowrap;
    position: relative;
    cursor:pointer;
  }

  #globe{
    color:black;
    cursor:pointer
  }
  #globe:hover{
    color:blue
  }
  #rentHome:hover{
    color:blue
  }

  .bookingDatePickerDiv {
    background-color: black;
    position: relative;
  }


  
  .navbar{
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position:sticky;
  top: 0;
  width: 100%;
  height:80px;
  flex-direction: row-reverse;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  background-color:white;
  border: bottom length 100px;;
  z-index: 1;
  }




  .bookingsList:hover{
    color:blue;
    cursor:pointer;

  }


  .logoutButton {
    cursor:pointer;

  }
  .logoutButton:hover{
    color:blue
  }

  .ownedSpots{
    cursor:pointer;
  }
  .ownedSpots:hover{
    color:blue
  }