.loginForm {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    overflow:hidden;
  }
  .loginForm div{
    align-items:center;
  }
  
  .loginForm input {
    width:80%;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #ccc;
  }
  
  .loginForm button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .loginForm label {
    width:80%
  }

  .Demo {
    cursor:pointer;
}

.Demo:hover {
    color:blue
}